<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reistered.name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @reistered.user_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @reistered.phone_number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @reistered.password %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @reistered.gender %>
</p>

<%= link_to 'Edit', edit_reistered_path(@reistered) %> |
<%= link_to 'Back', reistereds_path %>
