<h2>Sign up</h2>

           <%= form_for(resource, as: resource_name, :class=>"dialog-form", url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <br/>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, :class=>"form-control" %>

  </div>

  <div class="form-group">

    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, :class=>"form-control"  %>
    
  </div>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true , :class=>"form-control" %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
    <%= f.password_field :password, autocomplete: "off" , :class=>"form-control" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>"form-control" %></div>

    <!--phone_field  radio_button-->
    <div>

    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number, autofocus: true , :class=>"form-control" %>

  </div>

<%= radio_button_tag(:gender, "male" ,checked="checked") %>
<%= label_tag(:age_child, "male") %>

<%= radio_button_tag(:gender, "female" ,checked="checked") %>
<%= label_tag(:age_adult, "female") %>


  <div><input type="submit" value="SignUp" class="btn btn-primary"></div>
<% end %>

<%= render "devise/shared/links" %>
