

<%= form_for(@ngo) do |f| %>
  <% if @ngo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ngo.errors.count, "error") %> prohibited this ngo from being saved:</h2>

      <ul>
      <% @ngo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NGO_name %><br>
    <%= f.text_field :NGO_name %>
  </div>
  <div class="field">
    <%= f.label :bank_account %><br>
    <%= f.text_field :bank_account %>
  </div>
  <div class="field">
    <%= f.label :NGO_number %><br>
    <%= f.text_field :NGO_number %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :ZIP_code %><br>
    <%= f.text_field :ZIP_code %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :fb_link %><br>
    <%= f.text_field :fb_link %>
  </div>
  <div class="field">
    <%= f.label :tw_link %><br>
    <%= f.text_field :tw_link %>
  </div>
  <div class="field">
    <%= f.label :gp_link %><br>
    <%= f.text_field :gp_link %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :governorate %><br>
    <%= f.text_field :governorate %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :apartment %><br>
    <%= f.text_field :apartment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
