 
<div class="row">
<div class="col-md-3">
<h1>Listing ngos</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-1">
<% if !current_user || ! current_user.ngo_id %>
<%= link_to 'New Ngo', new_ngo_path ,:class=> "btn btn-primary" %>
<%end %>

</div>
</div>

    <div class="row">
    <% @ngos.each do |ngo| %>
    
    <div class="col-md-4">
    <div class="team-member">
    <%= link_to ( image_tag ngo.image.url ), ngo %>
      
     
      <p class="team-member-position">
          <%= ngo.city %>
        </p>
        <p class="team-member-desciption">
              <h4> <%= ngo.NGO_name %></h4>
            

        </p>
           <ul class="team-member-social">
           <li>
             <a class="fa fa-google-plus" href="//<%= ngo.gp_link %>"></a>
           </li>
           <li>
            <a class="fa fa-twitter" href="//<%= ngo.tw_link %>"></a>
           </li>
           <li>
           <a class="fa fa-facebook" href="//<%= ngo.fb_link %>"></a>
           </li>
           </ul>
     
      </div>
      </div>
   
    <% end %>
 </div>
<br>
<%= will_paginate @ngos, :class => "digg_pagination" %>




    
       
       
        
        
     
       

