<div class="row">
  <div class="col-md-1">
   <h1> <%= @ngo.NGO_name %></h1>
  </div>
  <div class="col-md-10"></div>
  <div class="col-md-1">
    <%= link_to 'Back', ngos_path , :class=> "btn btn-primary" %>
  </div>
</div>
<% if  @ngo.active_ngo  == true %>   
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
     <div id="popup-gallery" class="row row-no-gutter">
  
            <!--

             HOVER IMAGE 

            -->
            <a class="hover-img popup-gallery-image" data-effect="mfp-zoom-out" href = '<%=  @ngo.image.url %> '>
                <img title="Gamer Chick" alt="Image Alternative text" src= '<%=  @ngo.image.url %>'></img>
                <i class="fa fa-resize-full hover-icon"></i>
            </a>
        </div>
        
        
    </div>
    <!--

     END BOOTSTRAP CAROUSEL 

    --> 
<div class="col-md-1">
</div>

<div class="col-md-3">
    <div class="product-page-meta box">
        <center><h4>
       City: <%= @ngo.city %>
        </h4></center>
        <center><p>
          Phone_number: <%= @ngo.phone_number %>
        </p></center>
        <a class="btn btn-primary btn-lg btn-block" href="<% @ngo.website %>">
           <%= @ngo.NGO_name %> website
        </a>
       <ul class="list product-page-meta-info">
            <li>
                <ul class="list product-page-meta-price-list">
                <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Facebock

                        </span>
                        <span class="product-page-meta-price">

                            <a class="fa fa-facebook" href='<% @ngo.fb_link %>'></a>

                        </span>
                    </li>
                </div>
                  <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Twitter

                        </span>
                        <span class="product-page-meta-price">

                            <a class="fa fa-twitter" href='<% @ngo.tw_link %>'></a>

                        </span>
                    </li>
                    </div>
                    <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Google+

                        </span>
                        <span class="product-page-meta-price">

                              <a class="fa fa-google-plus" href='<% @ngo.gp_link %>'></a>

                        </span>
                    </li>
                    </div>
                </ul>
            </li>
            <li>
                <span class="product-page-meta-title">
                 <center>Address</center> 
                </span>
                <!--

                 COUNTDOWN 

                -->
                <div >
                    <div class="days"> <center>   <%= @ngo.street %></center></div>
                  
                </div>
            </li>
            <li>
                <span class="product-page-meta-title">

                    <center>Zip_code: <%= @ngo.ZIP_code %> </center>
                     
                </span>
            </li>
        </ul>
    </div>

</div>
</div>


<br>
<div class="row">
  <div class="col-md-8">
  <div class="tabbable">        
        <h3>

            Discription

        </h3>
<div class="tab-content">

    <div id="tab-1" class="tab-pane fade in active">
        <div class="row text-smaller">
             <%= @ngo.description %>
        </div>
    </div>      
    </div>
</div>
</div>
</div>
<% elsif @ngo.wait_approve == true  %> <!--current_user == site_admin (devise)-->
 <h1><strong>Pending until admin approval </strong></h1>
  <div class="row">
<div class="col-md-4">
<%=link_to 'Approve', { :action => 'approve' , :ngo => @ngo ,:id => @ngo.id } ,:class=> "btn btn-primary"%> 
</div>
<div class="col-md-4">
<%= link_to 'Disapprove', { :action => 'disapprove' , :ngo => @ngo , :id => @ngo.id  } ,:class=> "btn btn-primary" %>
</div>

</div>
<% elsif @ngo.apporved== true  %>
 <% if @ngo.id == current_user.ngo_id%>
 <%= link_to 'Edit', edit_ngo_path(@ngo)  , :class=> "btn btn-primary" %>
 <%= link_to 'Delete', { :action => 'destroy' , :ngo => @ngo , :id => @ngo.id  }  ,  :class=> "btn btn-primary" , data: { confirm: 'Are you sure?' } %>
 <% end %>
 

<% end %>

 

