<div class="row">
  <div class="col-md-11"></div>
  <div class="col-md-1">
    <%= link_to 'Back', ngos_path , :class=> "btn btn-primary" %>
  </div>
</div>
<% if @ngo.approved == true%>
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6">

    <!--

     START BOOTSTRAP CAROUSEL 

    -->
    <div id="my-carousel" class="carousel slide">
        <div class="carousel-inner">
            
                <%= image_tag @ngo.image.url %>
            
        </div>
       
    </div>
    <!--

     END BOOTSTRAP CAROUSEL 

    --> 

</div>
<div class="col-md-2">
</div>

<div class="col-md-4">

    <div class="product-page-meta box">
        <center><h4>
       City: <%= @ngo.city %>
        </h4></center>
        <center><p>
          Phone_number: <%= @ngo.phone_number %>
        </p></center>
        <a class="btn btn-primary btn-lg btn-block" href="<% @ngo.website %>">
           <%= @ngo.NGO_name %>
        </a>
       <ul class="list product-page-meta-info">
            <li>
                <ul class="list product-page-meta-price-list">
                <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Facebock

                        </span>
                        <span class="product-page-meta-price">

                            <a class="fa fa-facebook" href="<% @ngo.fb_link %>"></a>

                        </span>
                    </li>
                </div>
                  <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Twitter

                        </span>
                        <span class="product-page-meta-price">

                            <a class="fa fa-twitter" href="<% @ngo.tw_link %>"></a>

                        </span>
                    </li>
                    </div>
                    <div class="col-md-4" >
                    <li>
                        <span class="product-page-meta-title">

                            Google+

                        </span>
                        <span class="product-page-meta-price">

                              <a class="fa fa-google-plus" href="<% @ngo.gp_link %>"></a>

                        </span>
                    </li>
                    </div>
                </ul>
            </li>
            <li>
                <span class="product-page-meta-title">
                 <center>Address</center> 
                </span>
                <!--

                 COUNTDOWN 

                -->
                <div >
                    <div class="days"> <center>   <%= @ngo.street %></center></div>
                  
                </div>
            </li>
            <li>
                <span class="product-page-meta-title">

                    <center>Zip_code: <%= @ngo.ZIP_code %> </center>
                     
                </span>
            </li>
        </ul>
    </div>

</div>
</div>
<!-- @ngo.bank_account -->
<!--@ngo.email -->
<!-- @ngo.NGO_number  -->

<!-- @ngo.fb_link  -->
<!-- @ngo.gp_link -->
<!-- @ngo.tw_link -->
<!-- @ngo.governorate -->
<!-- @ngo.apartment  -->

<div class="row">
  <div class="col-md-4">
        <h3>

            Discription

        </h3>
        <p>

        <%= @ngo.description%>

        </p>
      
    </div>

</div>
</div>
<% else %> <!-- @ngo.apporved== false and current_user == site_admin (devise)-->
<div class="col-md-4">
<%=link_to 'Approve', { :action => 'approve' , :ngo => @ngo ,:id => @ngo.id } ,:class=> "btn btn-primary"%> 
</div>
<div class="col-md-4">
<%= link_to 'Disapprove', { :action => 'disapprove' , :ngo => @ngo , :id => @ngo.id  } ,:class=> "btn btn-primary" %>
</div>
<!-- elsif @ngo.apporved== true  and current_user == ngo_admin (devise) -->
 <!-- link_to 'Edit', edit_ngo_path(@ngo) -->
 <!-- link_to 'Delete', @ngo , method: :delete , data: { confirm: 'Are you sure?' } -->
 <!-- else -->
 <h1> Pending until admin approval </h1>
<% end %>
<!--<p>
  <strong>Ngo name:</strong>
  
</p>

<p>
  <strong>Bank account:</strong>
    
</p>
<p>
  <strong>NGO email:</strong>
   
</p>
<p>
  <strong>NGO description:</strong>

</p>
<p>
  <strong>Ngo number:</strong>
  
</p>

<p>
  <strong>Website:</strong>
  
</p>

<p>
  <strong>Zip code:</strong>
   
</p>

<p>
  <strong>Phone number:</strong>
 
</p>

<p>
  <strong>Fb link:</strong>
   
</p>

<p>
  <strong>Tw link:</strong>
    
</p>

<p>
  <strong>Gp link:</strong>
  
</p>

<p>
  <strong>Country:</strong>

</p>


<p>
  <strong>City:</strong>

</p>

<p>
  <strong>Street:</strong>
  
</p>

-->


 <!--link_to 'Edit', edit_ngo_path(@ngo)-->
