<p id="notice"><%= notice %></p>

<p>
  <strong>Ngo name:</strong>
  <%= @ngo.NGO_name %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @ngo.bank_account %>
</p>
<p>
  <strong>NGO email:</strong>
  <%= @ngo.email %>
</p>
<p>
  <strong>NGO description:</strong>
  <%= @ngo.description%>
</p>
<p>
  <strong>Ngo number:</strong>
  <%= @ngo.NGO_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @ngo.website %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ngo.ZIP_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ngo.phone_number %>
</p>

<p>
  <strong>Fb link:</strong>
  <%= @ngo.fb_link %>
</p>

<p>
  <strong>Tw link:</strong>
  <%= @ngo.tw_link %>
</p>

<p>
  <strong>Gp link:</strong>
  <%= @ngo.gp_link %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ngo.country %>
</p>

<p>
  <strong>Governorate:</strong>
  <%= @ngo.governorate %>
</p>

<p>
  <strong>City:</strong>
  <%= @ngo.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @ngo.street %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @ngo.apartment %>
</p>
<%= image_tag @ngo.image.url(:medium) %>

<%= link_to 'Edit', edit_ngo_path(@ngo) %> |
<%= link_to 'Back', ngos_path %>
