<p id="notice"><%= notice %></p>

<p>
  <strong>Ngo name:</strong>
  <%= @ngo.NGO_name %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @ngo.bank_account %>
</p>

<p>
  <strong>Ngo number:</strong>
  <%= @ngo.NGO_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @ngo.website %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ngo.ZIP_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ngo.phone_number %>
</p>

<p>
  <strong>Fb link:</strong>
  <%= @ngo.fb_link %>
</p>

<p>
  <strong>Tw link:</strong>
  <%= @ngo.tw_link %>
</p>

<p>
  <strong>Gp link:</strong>
  <%= @ngo.gp_link %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ngo.country %>
</p>

<p>
  <strong>Governorate:</strong>
  <%= @ngo.governorate %>
</p>

<p>
  <strong>City:</strong>
  <%= @ngo.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @ngo.street %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @ngo.apartment %>
</p>
<% if @ngo == current_user.ngo %>
  <% @user = User.new %>
  <%= "you can add admin to " + @ngo.NGO_name %>
  <p> please type his email </p>
  <%= form_for @user, url: {controller: "ngos", action: "add_admin"} do |f| %>
    <%= f.email_field "email" %>
    <%= f.submit "Invite" %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_ngo_path(@ngo) %>|
<%= link_to 'Back', ngos_path %>
