<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ngo_page.name %>
</p>

<p>
  <strong>License number:</strong>
  <%= @ngo_page.license_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ngo_page.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ngo_page.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ngo_page.address %>
</p>
<p>
  <strong>Address:</strong>
  <%= image_tag @ngo_page.image.url(:medium) %>
</p>
<%= link_to 'Back', ngo_pages_path %>
