<!-- Home -->

<div class="row">
<%= render "layouts/partials/header" %>


<!--Listing Products-->
<h1>latest products</h1>

    <% @products.each do |product| %>
        <a class="product-price" href="products/<%= product.id%>">
        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag product.photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= product.product_name %></h5>
              <h3 > <%= product.product_price%>  $</h3>
              <h5 class="product-count"><%= product.product_count%>  pieces</h5>
              <p class="product-desciption"><%= product.product_description %></p>
             
             
              
            </div>
          </div>
        </div>
        </a>    
    <% end %>

    <!--Listing Projects-->

    <div class="latestprojects">
    <h1>latest projects</h1>

    <% @projects.each do |project| %>
        <a class="product-price" href="products/<%= product.id%>">
        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag project.project_photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= project.project_name %></h5>
              <h3 > <%= project.project_social_state%>  $</h3>
              <p class="product-desciption"><%= project.project_description %></p>
           
             
              
            </div>
          </div>
        </div>
        </a>    
    <% end %>
   
</div>
</div>
<div class="gap"></div>
   
</div>


</div>

</div>
<div class="gap"></div>






</div>

