
<!-- Home -->

<div class="row">
<%= render "layouts/partials/header" %>

<div class="col-md-3"></div>
<!--Listing Products-->
<div class="col-md-9">
<h1>latest products</h1>
  <%= link_to 'See More' , {:controller => 'products' , :action => 'index'}, :class=> "btn btn-primary col-md-offset-11"%>

    <% @products.each do |product| %>
        <a class="product-price" href="products/show/<%= product.id%>">
        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag product.photo.url(:medium) %>
            </header>
            </a>
          </div>
          <div class="product-inner">
              <h5 class="product-title"><%= product.product_name %></h5>
              <h3 > <%= product.product_price%>  $</h3>
              <h5 class="product-count"><%= product.product_count%>  pieces</h5>
              <p class="product-desciption"><%= product.product_description %></p>
             
           
              
          </div>
            <%= link_to "Add to cart", {:controller => "product_carts", :action => "add_to_cart", :id => product.id },:class=>"btn btn-primary"%>
        </div>
    <% end %>
  </div>

        
        
         


      

</div>


<div class="gap"></div>


<div class="gap"></div>
    <!--Listing Projects-->
<div class="row">
  <div class="col-md-offset-3">  

  <h1> latest projects</h1>

    <% @projects.each do |project| %>
        <a class="product-price" href="projects/show/<%= project.id%>">
        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag project.project_photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= project.project_name %></h5>
              <p class="product-desciption"><%= project.project_description %></p>
           
             
              
            </div>
          </div>
        </div>
        </a>    
    <% end %>
   </div>
</div>

<div class="gap"></div>


<div class="gap"></div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-7"><h1>latest Ngos</h1></div>
  <div class="col-md-1">
  <%= link_to 'See More' , {:controller => 'ngos' , :action => 'index'}, :class=> "btn btn-primary"%>
  </div>
</div>

<div class="gap"></div>


<div class="gap"></div>








<br>
   <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
    <% @ngos.each do |ngo| %>
  
    <div class="col-md-3">
    <div class="team-member">
    <%= link_to ( image_tag ngo.image.url ), ngo %>
      
     
      <p class="team-member-position">
          <%= ngo.city %>
        </p>
        <p class="team-member-desciption">
              <h4> <%= ngo.NGO_name %></h4>
            

        </p>
           <ul class="team-member-social">
           <li>
             <a class="fa fa-google-plus" href="//<%= ngo.gp_link %>"></a>
           </li>
           <li>
            <a class="fa fa-twitter" href="//<%= ngo.tw_link %>"></a>
           </li>
           <li>
           <a class="fa fa-facebook" href="//<%= ngo.fb_link %>"></a>
           </li>
           </ul>
  
      </div>
      </div>
 
    <% end %>
  </div>
    </div>
<br>

