<%= form_for(@registered_user) do |f| %>
  <% if @registered_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registered_user.errors.count, "error") %> prohibited this registered_user from being saved:</h2>

      <ul>
      <% @registered_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :apartment %><br>
    <%= f.text_field :apartment %>
  </div>
  <div class="field">
    <%= f.label :governorate %><br>
    <%= f.text_field :governorate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
