<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Project description</th>
      <th>Project photo</th>
      <th>Project social state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.project_description %></td>
        <td><%=  image_tag project.project_photo %></td>
        <td><%= project.project_social_state %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
