<h1>Listing projects</h1>
<div class="row">
    <% @projects.each do |project| %>
        <a class="product-price" href="projects/show/<%= project.id%>">
        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag project.project_photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= project.project_name %></h5>
              <p class="product-desciption"><%= project. project_description %></p>
            </div>
          </div>
        </div>
        </a>    
    <% end %>
</div>
<div class="gap gap-mini"></div>
<% if current_user%>
<% if ! Project.find_by(user_id: current_user.id) %>
<%= link_to 'New Project', new_project_path %>
<% end %>
<% end %>
