<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>Project photo:</strong>
  <%= image_tag @project.project_photo %>
</p>

<p>
  <strong>Project social state:</strong>
  <%= image_tag @project.project_social_state %>
</p>
<% if current_user %>
<% if current_user.id == @project.user_id %>
<a href="../edit/<%= @project.id %>">Edit</a> |
<% end %>
<% end %>
<%= link_to 'Back', projects_path %>
