<h1>Listing user_data</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Username</th>
      <th>Password</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_data.each do |user_datum| %>
      <tr>
        <td><%= user_datum.first_name %></td>
        <td><%= user_datum.last_name %></td>
        <td><%= user_datum.email %></td>
        <td><%= user_datum.phone_number %></td>
        <td><%= user_datum.username %></td>
        <td><%= user_datum.password %></td>
        <td><%= user_datum.gender %></td>
        <td><%= link_to 'Show', user_datum %></td>
        <td><%= link_to 'Edit', edit_user_datum_path(user_datum) %></td>
        <td><%= link_to 'Destroy', user_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User datum', new_user_datum_path %>
