
  <div class="row">

  <div class="col-md-6">
    <%= form_for(@checkout) do |f| %>
      <% if @checkout.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>


        <ul>
        <% @checkout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>


  </div>

<div class="row">
  <div class="col-md-6">
      <form accept-charset="UTF-8" action="/checkouts" class="new_checkout" id="new_checkout"method="post">
          <div class="form-group">
          *  <%= f.label :name %><br>
            <%= f.text_field :name ,:class=>"form-control",:placeholder=>"name" %>
          </div>
          <div class="form-group">
          *  <%= f.label :phone_number %><br>
            <%= f.text_field :phone_number ,:class=>"form-control",:placeholder=>"name" %>
          </div>
          <%= f.submit %>


      </form>
  </div>
</div>

  <%end%>



