<div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table class="table cart-table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Name</th>
                                <th>QTY</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @carts.each do |cart| %>
                                <% if cart.registered_user_id == current_user.id %>
                                    <% @current_user_cart=cart.id%>
                                    <% break%>
                                <% end%>
                            <% end%>
                            <% @product_carts.each do |product_cart| %>
                                <% if product_cart.cart_id == @current_user_cart %>
                                    <% @my_product=product_cart.product_id %>
                                    <%@products.each do |product|%>
                                        <% if product.id==@my_product%>
                                           <% @totalprice = @totalprice.to_i+product.product_price.to_i%>
                                            <tr>
                                                <td class="cart-item-image">
                                                    <a href="#">
                                                        <%= image_tag product.photo.url(:thumb) %>
                                                    </a>
                                                </td>
                                                
                                                <td>
                                                    <a href="#"> <%= product.product_name %></a>
                                                </td>
                                                
                                                <td class="cart-item-quantity"><i class="fa fa-minus cart-item-minus"></i>
                                                    <input type="text" name="cart-quantity" class="cart-quantity" value="<%=product_cart.product_amount%>" /><i class="fa fa-plus cart-item-plus"></i>
                                                </td>
                                                
                                                <td>
                                                    <%=product.product_price%>
                                                </td>
                                                
                                                <td class="cart-item-remove">
                                                    <a class="fa fa-times" href="#"></a>
                                                </td>
                                            </tr>
                                        <%end%>
                                    <%end%>
                                <%end%>
                            <% end %>
                        </tbody>
                    </table>  <a href="#" class="btn btn-primary">Update the cart</a>
                    <%= link_to "Empty cart", {:action => "empty_cart" }%>
                </div>
                <div class="col-md-3">
                    <ul class="cart-total-list">
                        <li><span>Sub Total</span><span>$<%=@totalprice%></span>
                        </li>
                        <li><span>Shipping</span><span>$0.00</span>
                        </li>
                        <li><span>Taxes</span><span>$0.00</span>
                        </li>
                        <li><span>Total</span><span>$<%=@totalprice%></span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Checkout</a>
                </div>
            </div>
        </div>



















                    
 

