<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <div class="col-md-3">
      <form accept-charset="UTF-8" action="/products" class="new_product" id="new_product"method="post">
          <div class="form-group">
            <%= f.label :name %><br>
            <input id="product_name" name="product[name]" type="text" placeholde="name" class="form-control">
          </div>
          <div class="form-group">
              <%= f.label :category %><br>
              <input id="product_category" name="product[category]" type="text" placeholder="Doe" class="form-control">
          </div>
          <div class="form-group">
                                    <%= f.label :photo %><br>
                                    <input id="product_photo" name="product[photo]" type="text" placeholder="johndoe.png" class="form-control">
          </div>
          <div class="form-group">
              <%= f.label :details %><br>
              <textarea id="product_details" name="product[details]" type="text" placeholder="datails" class="form-control"></textarea>
          </div>
          <input type="submit" placeholder="Save Changes" class="btn btn-primary">
      </form>
  </div>
<% end %>