
<div class="row">
<%= render "layouts/partials/header" %>
<h1>Listing products</h1>

    <% @products.each do |product| %>

        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag product.photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= product.product_name %></h5>
              <h3 > <%= product.product_price%>  $</h3>
              <h5 class="product-count"><%= product.product_count%>  pieces</h5>
              <p class="product-desciption"><%= product.product_description %></p>
              <a class="product-price" href="/products/edit/<%= product.id%>">Edit</a>
              <a class="product-price" href="/products/show/<%= product.id%>">Show</a>
              <a data-confirm="Are you sure?"  href="/products/destroy/<%= product.id%>" rel="nofollow">Delete</a>
              
            </div>
          </div>
        </div>    
    <% end %>
    <div class="row">
<%= link_to 'New Product', new_product_path, :class=> "btn btn-primary" %>
</div>
</div>
<div class="gap"></div>
