
<div class="row">
<%= render "layouts/partials/header" %>
<h1>Listing products</h1>

    <% @products.each do |product| %>

        <div class="col-md-3" >
          <div class="product-thumb">
            <header class="product-header">
              <%= image_tag product.photo.url(:medium) %>
            </header>
            <div class="product-inner">
              <h5 class="product-title"><%= product.product_name %></h5>
              <h3 > <%= product.product_price%>  $</h3>
              <h5 class="product-count"><%= product.product_count%>  pieces</h5>
              <p class="product-desciption"><%= product.product_description %></p>
              <%= link_to "Edit", {:controller => "products", :action => "edit", :id => product.id },:class=>"product-price"%>
              <%= link_to "Show", {:controller => "products", :action => "show", :id => product.id },:class=>"product-price"%>
              

              
              <a data-confirm="Are you sure?" data-method="delete" href="products/destroy/<%= product.id%>" rel="nofollow">Destroy</a>
              
            </div>
          </div>
        </div>    
    <% end %>
    <div class="row">
<%= link_to 'New Product', new_product_path, :class=> "btn btn-primary" %>
</div>
</div>
<div class="gap"></div>
