<p id="notice"><%= notice %></p>



<div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
                                
                                <%= image_tag @product.photo.url(:large) %>

                            </div>
                            <div class="gap"></div>
                            <%= link_to 'Edit', edit_product_path(@product) ,:class=>"btn btn-primary"%> |
                            <%= link_to 'Back', products_path,:class=>"btn btn-danger" %>
                        </div>
                        <div class="col-md-5">
                            <div class="product-info box">
	                           <small><a href="#" class="text-muted">based on 8 reviews</a></small>
                                <h3><%= @product.product_name %></h3>
                                <p class="product-info-price">$<%= @product.product_price%></p>
                                <p class="product-info-price"> <%= @product.product_count%>  Pieces</p>
                                <p class="text-smaller text-muted"><%= @product.product_description %></p>

                                <ul class="list-inline">
                                    <li><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    </li>
                                    <li><a href="#" class="btn"><i class="fa fa-star"></i> To Wishlist</a>
                                    </li>
                                    <!-- START COMMENTS -->
                                    <ul class="comments-list">
                                    <p><h3>Commnets</h3></p>
                                        <% @comments.each do |comment| %>
                                        <li>
                                        <div class="media">
                                                <div class="pull-left">
                                                    <img src="/default_large.png" alt="Image Alternative text" />
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><%= comment.user_email %>
                                                        <small>
                                                            <%= comment.created_at %>
                                                        </small>
                                                    </h4>
                                                    <p>
                                                    <%= comment.body %>
                                                    </p>
                                                    <p>
                                                        <a class="comment-reply" href="#"><i class="fa fa-reply">
                                                        </i> Reply</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <% end %>
                                </ul>
                                <%= render 'comments/form' %>
                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                </div>    
			</div>        
        </div>

