<p id="notice"><%= notice %></p>


        <div class="container">
r
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    
                    <div class="row">
                        <div class="col-md-7">
                            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="100" data-thumbwidth="150">
                            <% @product_picture.each do |picture| %>
                                <%if picture.product_id== @product.id%>    
                                    <%= image_tag picture.image.url(:thumb) %>
                                <%end%>
                            <%end%>
                            </div>
                        </div>
                        <div class="col-md-5">


                                <h3><%= @product.product_name %></h3>
                                
                                <p class="product-info-price">$<%= @product.product_price%></p>
                                <p class="product-info-price"><%= @product.product_count%>  Pieces</p>
                                <p class="text-smaller text-muted"><%= @product.product_description %></p>

                                    <%= link_to "Add to cart", {:controller => "product_carts", :action => "add_to_cart", :id => @product.id }, :class=>"btn btn-primary"%>
                                   
                                    
                                    <!-- START COMMENTS -->

                                    <ul class="comments-list">
                                    <p><h3>Commnets</h3></p>
                                        <% @comments.each do |comment| %>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <img src="/default_large.png" alt="Image Alternative text" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><%= comment.user_email %>
                                                            <small>
                                                                <%= comment.created_at %>
                                                            </small>
                                                        </h4>
                                                        <p>
                                                        <%= comment.body %>
                                                        </p>

                                                        <p>
                                                            <a class="comment-reply" href="#"><i class="fa fa-reply">
                                                            </i> Reply</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        <% end %><!-- end comment -->
                                    </ul>
                                    <%= render 'comments/form' %>

                            </div>
                        </div>
                    </div>
                    <div class="gap"></div>
                    
                    <div class="gap"></div>

                    
                    <div class="gap gap-small"></div>
                </div>
            </div>

                                    <%= link_to 'Edit', edit_product_path(@product) ,:class=>"btn btn-primary"%> |
                            <%= link_to 'Back', products_path,:class=>"btn btn-danger" %>


