<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product photos:</strong>
  <%= @product.product_photos %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @product.product_price %>
</p>

<p>
  <strong>Product count:</strong>
  <%= @product.product_count %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>
<p>
  <!-- Link to view comments -->
  <%= commontator_thread(@product) %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
